# Review Question 1

In [19]:
def cube(number):
    return number ** 3

cube(3)

27

In [20]:
def greet(name):
    return f"Hello {name}"
    
greet("dave")

'Hello dave'

# Review Question 2

In [13]:

def convert_cel_to_far(celcius):
    return  float((celcius * 9/5) + 32)
    
celcius = int(input("Enter a temperature in degrees F:" ))
                    
farenheit =convert_cel_to_far(celcius)
f"{celcius} degrees C = {farenheit:.2f} degrees F"

Enter a temperature in degrees F: 45

'45 degrees C = 113.00 degrees F'

In [18]:
def convert_far_to_cel(farenheit):
    return float((farenheit - 32) * 5/9)
farenheit = int(input("Enter a temperature in degrees F:" ))
celcius = convert_far_to_cel(farenheit)
f"{farenheit} degrees F = {celcius:.2f} degrees C"

Enter a temperature in degrees F: 34

'34 degrees F = 1.11 degrees C'

# Review Question 3

In [23]:
for num in range(2,10):
    print(num)

2
3
4
5
6
7
8
9

In [22]:
i = 2;
while i < 10:
    print(i)
    i = i +1

2
3
4
5
6
7
8
9

In [21]:
num = 2
def doubles(num):
    for n in range(0,3):
        num = num * 2
        print(num) 

doubles(2)

4
8
16